
@{
    ViewBag.Title = "HomePages";
}
@section scripts {
    <script src="~/Scripts/MyKoHandlers.js"></script>
    <script src="~/Scripts/MyValuesByOrgUnitVM.js"></script>
    <script src="~/Scripts/MyPropertyUsageVM.js"></script>
    <script src="~/Scripts/MyPropertyVM.js"></script>
    <script src="~/Scripts/MyOrgUnitVm.js"></script>
    <script src="~/Scripts/MyMainVM.js"></script>
}
<div id="main">

    <div id="header">
        <br />
    </div>

    <div id="content" data-bind="template: { name: currentPanelData().panel, data: currentPanelData().data }"></div>

</div>

<script type="text/html" id="units-template">
    <div >
        <input data-bind="textInput: filter" />
        <ul data-bind="template: { name: 'treeNode', foreach: $data.units }"></ul>
        <script id="treeNode" type="text/html">
            <li>
                <span data-bind="click:toggleIsExpanded(), text: isExpanded() === true ? '<=' : '=>'"></span>
                <span data-bind="text : identity, click : $root.goToValuesByOrgUnit " class="btn-link"></span>
                <span data-bind="foreach : pages , visible : isExpanded">
                    <button data-bind="text : $data, click : $parent.click().bind($data,$parent), css : { 'btn-primary' : $parent.currentPage() === $data}"></button>
                </span>
                <ul data-bind="template: { name: 'treeNode', foreach: children }, visible : isExpanded"></ul>
            </li>
        </script>
    </div>
</script>

<script type="text/html" id="properties-template">
    <span>Filter:</span>
    <input data-bind="textInput: filter, event: { input : initialize }" />
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-md-4">Name</th>
                <th class="col-md-4">Type</th>
                <th class="col-md-4">Usage</th>
            </tr>
        </thead>
        <tbody data-bind="foreach : properties">
            <tr>
                <td class="col-md-4" data-bind="text: $data.name"></td>
                <td class="col-md-4" data-bind="text: $data.type"></td>
                <td class="col-md-4" ><a class="btn-link" data-bind="text: $data.countOfUsage, click : $root.goToPropertiesUsage"></a></td>
            </tr>
        </tbody>
    </table>
    <div data-bind="pagesBuilder : pages(), currentPage: currentPage(), onPageClick: load"></div>
    @*<div data-bind="foreach : pages">
        <button data-bind="text : $data , click : $parent.load, css : { 'btn-primary' : $parent.currentPage() === $data}"></button>
    </div>*@
</script>

<script type="text/html" id="propertiesUsage-template">
    <h4>Property name : <text data-bind="text : propertyName()"></text></h4>
    <span>Filter:</span>
    <input data-bind="textInput: filter, event: { input : initialize }" />
    <br />
    <div class="col-md-12">
        <div>
            <div class="col-md-6"><strong>Unit </strong></div>
            <div class="col-md-6"><strong>Value </strong></div>
        </div>
        <div data-bind="foreach : values">
            <div class="col-md-6"><span data-bind="text: $data.organizationUnitIdentity, bootstrapPopover : {content : $parent.returnPropertyTag($data.value)}"></span></div>
            <div class="col-md-6"><span data-bind="text: $data.value"></span></div>
            <hr />
        </div>
    </div>
    <div data-bind="pagesBuilder : pages(), currentPage: currentPage(), onPageClick: load"></div>
    @*<div data-bind="foreach : pages">
        <button data-bind="text : $data , click : $parent.load, css : { 'btn-primary' : $parent.currentPage() === $data}"></button>
    </div>*@
</script>

<script type="text/html" id="valuesByOrgUnit-template">
    <br />
    <span>Filter:</span>
    <input data-bind="textInput: filter, event: { input : initialize }" />
    <br />
    <div>
        <div data-bind="tableValuesByOrgUnit: dataForTable"></div>
        <div data-bind="pagesBuilder : pages(), currentPage: currentPage(), onPageClick: load"></div>
        @*<table class="table table-bordered">
            <thead>
                <tr data-bind="foreach : unitsName">
                    <th data-bind="text: $data.tail"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach : valuesByProperties">
                <tr data-bind="foreach : unitsToValues">
                    <!-- ko if: $index() == 0 -->
                    <th data-bind="text: $parent.property"></th>
                    <td data-bind="text: value"></td>
                    <!-- /ko -->
                    <!-- ko if: $index() != 0 -->
                    <td data-bind="text: value"></td>
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>
        <div data-bind="foreach : pages">
            <button data-bind="text : $data , click : $parent.load, css : { 'btn-primary' : $parent.currentPage() === $data}"></button>
        </div>*@
    </div>   
</script>

