@section scripts {
    <script type="text/javascript">
        var arrDescr = [];
        var res = $.get("http://localhost:49997/api/values" @*@Url*@,function (data) {
            for (var i = 0; i < data.OrgUnits.length; i++) {
                arrDescr.push(data.OrgUnits[i].Description);
            };
            return data;
        });
        
        var ViewModel = function() {
            var self = this;

            self.filter = ko.observable('');
            self.items = ko.observableArray(arrDescr);//(["apples", "apple pie", "apple sauce", "pumpkin pie", "peaches"]);
            self.filteredItems = ko.computed(function() {
                var filter = self.filter();
                if (!filter) { return self.items(); }
                return self.items().filter(function(i) { return i.indexOf(filter) > -1; });
            });
        };
        ko.applyBindings(new ViewModel());
</script>
}
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        Search: <input data-bind="textInput: filter" />
        <table>
            <tbody data-bind="foreach: filteredItems">
                <tr><td data-bind="text: $data"></td></tr>
            </tbody>
        </table>           
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">        
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
