@section scripts {
<script src="~/Scripts/MyJS.js"></script>
}
<div class="jumbotron">
    <p class="lead">Refresh data</p>
    <button data-bind="click: Refresh" class="btn btn-info btn-lg"> Refresh</button>  
</div>
<div class="row">
    <p>Units</p>
    <div  class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-md-3">Identity</th>
                    <th class="col-md-4">Description</th>
                    <th class="col-md-2">IsVirtual</th>
                    <th class="col-md-3">ParentIdentity</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: units">
                <tr >
                    <td class="col-md-3" data-bind="text: Identity "></td>
                    <td class="col-md-4" data-bind="text: Description"></td>
                    <td class="col-md-2" data-bind="text: IsVirtual"></td>
                    <td class="col-md-3" data-bind="text: ParentIdentity"></td>
                </tr>
            </tbody>                     
        </table>
    </div>
    <p>Properties</p>
    <div  class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-md-6">Name</th>
                    <th class="col-md-6">Type</th>                 
                </tr>
            </thead>
            <tbody data-bind="foreach: props">
                <tr>
                    <td class="col-md-6" data-bind="text: $data.Name"></td>
                    <td class="col-md-6" data-bind="text: $data.Type"></td>
                </tr>
            </tbody>
        </table>            
    </div>
    <p>Values</p>
    <div  class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-md-4"> OrganizationUnit</th>
                    <th class="col-md-4">Property</th>
                    <th class="col-md-4">Value</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: values">
                <tr>
                    <td class="col-md-4" data-bind="text: OrganizationUnitIdentity"></td>
                    <td class="col-md-4" data-bind="text: PropertyName"></td>
                    <td class="col-md-4" data-bind="text: Value"></td>
                </tr>
            </tbody>           
        </table>
    </div>

</div>
