@section scripts {
<script src="~/Scripts/MyJS.js"></script>
}
<div class="jumbotron">
    <button data-bind="click: refresh" class="btn btn-info btn-lg"> Refresh</button>  
    <a class="alert-info" href=@Url.Action("TreePages","Home",null)>View pages</a>
</div>
<div class="row">
    <p>Units</p>
    <div  class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-md-5">identity</th>
                    <th class="col-md-2">description</th>
                    <th class="col-md-2">isVirtual</th>
                    <th class="col-md-3">parentIdentity</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: units">
                <tr >
                    <td class="col-md-3" data-bind="text: identity "></td>
                    <td class="col-md-4" data-bind="text: description"></td>
                    <td class="col-md-2" data-bind="text: isVirtual"></td>
                    <td class="col-md-3" data-bind="text: parentIdentity"></td>
                </tr>
            </tbody>                     
        </table>
    </div>
    <p>Properties</p>
    <div  class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-md-6">Name</th>
                    <th class="col-md-6">Type</th>                 
                </tr>
            </thead>
            <tbody data-bind="foreach: props">
                <tr>
                    <td class="col-md-6" data-bind="text: $data.name"></td>
                    <td class="col-md-6" data-bind="text: $data.type"></td>
                </tr>
            </tbody>
        </table>            
    </div>
    <p>Values</p>
    <div  class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-md-5"> OrganizationUnit</th>
                    <th class="col-md-2">Property</th>
                    <th class="col-md-5">Value</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: values">
                <tr>
                    <td class="col-md-5" data-bind="text: organizationUnitIdentity"></td>
                    <td class="col-md-2" data-bind="text: propertyName"></td>
                    <td class="col-md-5" data-bind="text: value"></td>
                </tr>
            </tbody>           
        </table>
    </div>

</div>
